/* Styles properties */
ion-content[_aio-10953395] {
--padding-top: 16px;
--padding-end: 16px;
--padding-bottom: 16px;
--padding-start: 16px;
}
ion-text[_aio-21425B7A] {
padding-left: 16px;
}
/* Custom SCSS */
