/* Styles properties */
ion-content[_aio-8E2BA3F2] {
--padding-top: 16px;
--padding-end: 16px;
--padding-bottom: 16px;
--padding-start: 16px;
}
div[_aio-33CB6C9A] {
display: inline-block;
max-width: 100%;
background-color: var(--ion-color-light);
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-bottom: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
div[_aio-6D516724] {
margin-top: 4px;
}
div[_aio-286E77DE] {
text-align: right;
}
div[_aio-1AEB82A1] {
display: inline-block;
max-width: 100%;
background-color: var(--ion-color-success);
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-bottom: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
div[_aio-4C6CC8C3] {
margin-top: 4px;
}
ion-input[_aio-86FF7A0B] {
margin-left: 10px;
}
ion-button[_aio-E2EC9E22]::part(native) {
color: var(--ion-color-primary);
}
ion-text[_aio-15E21967] {
padding-right: 5px;
}
/* Custom SCSS */
