/* Styles properties */
ion-content[_aio-EE2DF363] {
--padding-top: 16px;
--padding-end: 16px;
--padding-bottom: 16px;
--padding-start: 16px;
}
ion-list-header[_aio-9149ED65] {
padding-left: 0px;
}
ion-item[_aio-B1B83381] {
--padding-start: 0px;
}
ion-list-header[_aio-10A0B78D] {
padding-left: 0px;
}
ion-item[_aio-50BC4C46] {
--padding-start: 0px;
}
/* Custom SCSS */
