/* Styles properties */
ion-content[_aio-EFAC7B93] {
text-align: center;
}
div[_aio-C5B70B1A] {
height: 150px;
background-color: #3dc2ff;
}
label[_aio-5A01BDFB] {
display: block;
}
div[_aio-5E78A462] {
display: block;
text-align: center;
padding-top: 10px;
}
span[_aio-D9DDDC9F] {
font-size: 25px;
}
span[_aio-E446C3B4] {
font-size: 25px;
}
ion-note[_aio-E89BE2CF] {
display: block;
padding-top: 10px;
margin-bottom: 20px;
}
ion-text[_aio-6C4C305A] {
font-weight: bold;
}
ion-text[_aio-05C73364] {
font-weight: bold;
}
ion-text[_aio-35719B14] {
font-weight: bold;
}
ion-text[_aio-82856121] {
font-weight: bold;
}
ion-text[_aio-1CDF7546] {
font-weight: bold;
}
ion-button[_aio-30C6CFDC] {
margin-top: 20px;
}
div[_aio-E8144BA2] {
text-align: left;
font-size: 12px;
padding-left: 16px;
color: var(--ion-color-medium);
}
/* Custom SCSS */
.img {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-top: -100px;
    
}
.icon {
    margin-top: -50px;
    margin-left: 150px;
}

.myicon {
    height: 50px;
    width: 50px;
}
